orchestration/n8n/06_detection_alert.json
{
  "name": "Vision-to-Action Detection Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vision-to-action-detection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "vision-to-action-detection"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.confidence }}",
              "operation": "larger",
              "value2": 0.7
            }
          ]
        }
      },
      "id": "confidence-check",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const event = item.json.body || item.json;\n  const emailBody = `\nVision-to-Action Alert\n======================\n\nEvent ID: ${event.event_id}\nTimestamp: ${event.timestamp}\n\nDetection Summary:\n- Class: ${event.class_name}\n- Confidence: ${(event.confidence * 100).toFixed(2)}%\n- Location: (${event.bbox.x1}, ${event.bbox.y1}) to (${event.bbox.x2}, ${event.bbox.y2})\n\nImage: ${event.image_path}\nDevice: ${event.device}\n\nThis is an automated alert from the Vision-to-Action system.\n`;\n\n  return {\n    json: {\n      subject: `\ud83d\udd14 High-Confidence Detection: ${event.class_name}`,\n      body: emailBody,\n      event_id: event.event_id,\n      class_name: event.class_name,\n      confidence: event.confidence\n    }\n  };\n});"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "vision-to-action@example.com",
        "toEmail": "admin@example.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}"
      },
      "id": "send-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://example.com/api/alert",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_id",
              "value": "={{ $json.body.event_id }}"
            },
            {
              "name": "class_name",
              "value": "={{ $json.body.class_name }}"
            },
            {
              "name": "confidence",
              "value": "={{ $json.body.confidence }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "webhook-alert",
      "name": "Send Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO detection_alerts (event_id, class_name, confidence, timestamp) VALUES ('{{ $json.body.event_id }}', '{{ $json.body.class_name }}', {{ $json.body.confidence }}, '{{ $json.body.timestamp }}')"
      },
      "id": "log-to-db",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"alert_triggered\", \"event_id\": $json.event_id } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Webhook": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  }
}